<p id="notice"><%= notice %></p>
<div id="sidebar">
	<div id="sidebar_content" class="clearfix">
		<h3>Browse Categories</h3>
		<ul>
			<% @categories.each do |category|%>
				<li><%= link_to category.name, { :action => :category, :id => category.name }%></li>
			<% end %>
		</ul>		
		<p>
		  <%= link_to 'Add a Data Set', new_data_set_path, :class => 'button' %>
		</p>
	</div>
</div>

<div id="content" class="clearfix">
	

<% title "Data Sets in Category: #{params[:id]}" %>

<div class="filter_box" style="display: none;">
	<table cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td><label>Jurisdication</label></td>
			<td><label>Organization</label></td>
			<td><label>Source</label></td>
			<td><label>Released</label></td>
			<td><label>Avalability</label></td>
		</tr>
	</table>
</div>

<% unless @data_sets.blank? %>
	<div id="data_sets">
		<%= render @data_sets %>
  	<%#= will_paginate(@data_sets) %>
<% else %>
	<p>We were not able to find any data sets for you.</p>
<% end %>

</div>


<br />



</div>