
<% content_for :sidebar do %>

	<div id="sidebar">
		<div id="sidebar_content">
		
			<div class="sidebar_section_unbound" class="clearfix">
			  <%= render :partial => "/shared/add_data_set_actions" %>
			</div>
		
			<div class="sidebar_section" class="clearfix">
				<%= render :partial => "/shared/categories_list" %>
			</div>
			
		</div>
	</div>
<% end %>	

<% title "Thanks for letting us know about #{@data_set.name}" %>

<p>It will appear on Open Missouri within the next few days, after a site moderator posts it.</p>
