<h1>Open Missouri is open source</h1>

<div id="sidebar">	
		<%= render :partial => "about_sidebar"%>
</div>

<div id="content" class="clearfix">

	<div class="description">
	
		

		<p>We developed the website using the <%= link_to "Ruby on Rails 3.0", "http://rubyonrails.org" %> web framework open-source software. Open-source software is freely available for download; programmers who want to improve the software can obtain the source code add features or make improvements.</p>

		

		<p>In turn, we've made the Open Missouri catalog open source, so programmers can [download], modify and deploy it. This is our way of trying to encourage the development of web catalogs in other locales.</p>

	</div>

</div>



	


