/*body { background: #fff url(/images/header_bg.jpg) top left repeat-x;}*/
body { background: transparent url(/images/main_bg.jpg) top left repeat; }
.header_holder {
  margin: 0px auto 0px auto;
  width: 960px;
	padding: 22px;
}

#wrapper { background: transparent url(/images/header_bg.jpg) top left repeat-x;}

.header{
	
}
.header .logo{ float: left;}

.content_holder {
  background: #fff;
  margin: 0px auto 20px;
  width: 960px;
	border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


.content{
	padding: 20px;
}

.footer_holder {
  
  width: 100%;	
	padding: 20px 0 0 0;

}

.footer{
	padding: 0 30px;
	line-height: 18px;
	width: 960px;
	margin: 0px auto 0px auto;
}
.footer h3{ border-bottom: 1px solid #aaa; padding-bottom: 8px; margin-bottom: 5px;}
.footer ul { list-style-type: none; }
.footer ul li{ margin-bottom: 5px; padding-bottom: 5px; border-bottom: 1px solid #aaa;}
.footer ul li a{ color: #111; text-decoration: none; font-weight: bold; }
.footer ul li a:hover { text-decoration: underline;}
table.footer_table{ margin: 0;}
table.footer_table td{ vertical-align: top; }
table.footer_table td.first{ width: 33%; }
table.footer_table td.first a{ font-weight: bold; }
table.footer_table td.second{ padding-left: 25px; width: 33%; }
table.footer_table td.second ul { list-style-type: none; }
table.footer_table td.second ul li{ border: none; }
table.footer_table td.third{  padding-left: 30px;}

table{ border: 0;}
table td{ border: 0;}


#sunshine_header{ background-color: #333; padding: 15px; color: #fff; font-size: 12px; font-weight: bold; }
#sunshine_header h2{ color: #fff;}
#sunshine_content{ padding: 15px; line-height: 18px;}

h1{ font-size: 24px; font-weight: bold; margin: 0 0 15px 0; padding: 0;}
h3{ margin: 0 0 10px 0; padding: 0 0 0 0 ;}
#sidebar h3{ margin: 0 0 10px 0; padding: 0 0 0 0 ; font-size: 14px;}
#sidebar #news_headlines h4{ margin: 0 0 5px 0; padding: 0 0 0 0 ; font-size: 12px;}
#sidebar #news_headlines p{ margin: 0; padding: 0;}
#sidebar #news_headlines .story{ margin: 0 0 10px 0;}

.twitter_link{ font-weight: bold;}
.twitter_link img{ float: left; margin: 0 5px 0 0; padding: 0;}

#content p{margin: 0 0 10px 0; line-height: 20px;}
#sidebar p{margin: 0 0 15px 0; line-height: 16px;}

#content .tagline{ margin: 0 0 15px 0; padding: 15px; font-family: 'Arvo', arial, serif; font-size: 18px; color: #593d28; background-color: #fff5a5;  border: 2px solid #ffec56;}

a.rss{ display: block; padding: 1px 0 0 22px; background: transparent url(/images/icons/social/rss_16.png) left top no-repeat; height: 16px;}

.data_list{ border-top: 3px solid #404040; padding-top: 15px;}
.data_list .data_item{ background-color: #fff; padding: 0 0 10px 0; margin: 0 0 10px 0; border-bottom: 1px solid #bbb;}
.data_list .data_item h3{ margin-bottom: 5px;}
.data_list .data_item p{ margin: 0 0 5px 0;}
.data_list .data_item .organization{ margin: 0 0 5px 0;}
.data_list .data_item .categories{ margin: 0 0 5px 0;}

.page_subtitle{ font-weight: bold; margin: 0 0 15px 0; font-size: 16px;}

#navigation { padding-top: 0; float: right;}
#navigation .user_nav{ }
#navigation .main_nav{ }


#navigation ul.user{ margin: 0; padding: 0; float: right;}
#navigation ul.user li{ display: inline; }
#navigation ul.user li a{ float: left; text-decoration: none; padding: 0px 0 5px 15px; color: #333; }
#navigation ul.user li a:hover, #navigation ul li .selected { color: #222; border: none;}

#navigation ul.main{ margin: 0; padding: 0px 0 0 0;  float: right; }
#navigation ul.main li{ display: inline;  }
#navigation ul.main li a{ float: left; text-decoration: none; padding: 2px 0 0 0; color: #333; font-size: 22px; font-weight: bold; margin-left: 20px; }
#navigation ul.main li a:hover, #navigation ul.main li .selected { color: #222; border-bottom: 3px solid #222;}
#navigation ul li a.selected { color: #222;}


#navigation ul.user{ text-align: right; }

#sidebar{ width: 280px; float: right;}
#sidebar .sidebar_section{padding: 15px; background-color: #eee; border: 1px solid #ccc; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-bottom: 15px;}
#sidebar .sidebar_section_unbound{ margin: 0 0 15px 0; display: block; float:none;}

#sidebar ul{ list-style-type: none; padding: 0; border-top: 1px solid #ccc; }
#sidebar ul li{  }
#sidebar ul li a{ display: block; font-size: 12px;  text-decoration: none; padding: 5px 5px 5px 0px; font-weight: bold; border-bottom: 1px solid #ccc;}
#sidebar ul li a:hover{ text-decoration: underline; }

#sidebar .social_menu ul{ list-style-type: none; padding: 0; margin: 0;}
#sidebar .social_menu ul li{ padding: 0 0 0px 28px; margin: 0; border-bottom: 1px solid #ccc; font-size: 12px;}
#sidebar .social_menu ul li a{font-size: 12px; border-bottom: 0;}
#sidebar .social_menu ul li a:hover{ background-color: none;}

#sidebar .social_menu ul li.first{ }
#sidebar .social_menu ul li.last{ border-bottom: 0;}
#sidebar .social_menu ul li.selected{ background-color: #ddd;}
#sidebar .social_menu ul li.twitter{ background: transparent url(/images/icons/social/twitter_16.png) 5px 5px no-repeat;}
#sidebar .social_menu ul li.facebook{ background: transparent url(/images/icons/social/facebook_16.png) 5px 5px no-repeat;}
#sidebar .social_menu ul li.email{ background: transparent url(/images/icons/social/email_16.png) 5px 5px no-repeat;}
#sidebar .social_menu ul li.printer{ background: transparent url(/images/icons/printer_16.png) 5px 5px no-repeat;}


#sidebar_content{}
#sidebar_profile{padding: 15px;}
#sidebar_profile { border-bottom: 1px solid #ccc;}
#sidebar_profile .timeline_item { border-width: 1px 1px 0px 1px; border-color: #ccc; border-style: solid; padding: 6px 8px 6px 8px; background-color: #fff; line-height: 16px; color: #404040;}
#sidebar_profile .tweet{ }

#content{ width: 620px; float: left; }

div.description{line-height: 18px; margin: 0 0 15px 0; font-size: 14px;}

#comments{}
#comments .comment{} 
#comments .comment .comment_user{ font-weight: bold; margin: 0 0 5px 0;} 
#comments .comment .comment_text{ line-height: 18px; margin: 0 0 15px 0;} 

.summary_box{ padding: 15px 15px 5px 15px; border: 1px solid #ccc; background-color: #fcf7e1; margin: 0 0 15px 0; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.summary_box table{ vertical-align: top; border: 0; margin: 0;}
.summary_box table td{ border:0; width: 50%; padding: 0;}
.summary_box p{ margin: 0 0 10px 0;}
label{ font-weight: bold; margin: 0 0 3px 0;}

table.summary_table{ margin: 0;}
table.summary_table td{ vertical-align: top;}

.contact_info{ margin: 0 0 15px 0;}

.filter_box{ border: 1px solid #ccc; background-color: #eee; margin: 0 0 15px 0; padding: 15px;}
.filter_box table{ margin: 0;}

div.alert { border: 1px solid #ddd; -moz-border-radius: 8px; -webkit-border-radius: 8px; margin-bottom: 1em; padding: 0.8em; background: #FBE3E4; border-color: #FBC2C4; color: #D12F19;}
div.error a { color: #D12F19; }
table.list th { white-space:nowrap; background:#f1f1f1; padding: 0.5em; }
table.list td { padding: 0.5em; }
table.list tr.odd td { background: #fafafa; }
table.list td.actions img { margin: 2px 1px; }
table.list th.numeric,
table.list td.numeric { text-align:right; }
div.gauge { border:solid 1px #ccc; width:100%; position:relative; height:10px; }
div.gauge-line { height:10px; background:#f0f0f0; position:absolute; top:0; left:0; }
div.percent { text-align:center; font-size:10px; position:relative; z-index:9; width:100%; }
table.list td.actions { padding: 0; width:2em; text-align: center; }
table.list td.actions a { width:20px; height:20px; text-indent:-9999em; overflow:hidden; display:block; float:left; background-position: 0 0; background-repeat:no-repeat; margin: auto; }
table.list td.actions a:hover { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5; opacity: 0.5; }
.edit_link a { background-image: url("/images/icon_edit.gif"); }
.destroy_link a { background-image: url("/images/icon_delete.gif"); }
.show_link a { background-image: url("/images/icon_view.gif"); }

#content .home_description{ font-size: 14px; line-height: 20px; padding: 20px; border: 1px solid #ddd; background-color: #fcf7e1; margin: 0 0 15px 0;}
#content .description{ font-size: 14px; line-height: 22px;  margin: 0 0 15px 0px;}
#content .home_description ul{ padding-left: 15px;}
#content .home_mission{ font-size: 18px; font-weight:bold; line-height: 24px;}

.form_admin_only{ padding: 15px; background-color: #ccc; }

a.button, fieldset.buttons input { background: url("/images/button_bg.gif") bottom left repeat-x; border:0; height:32px; overflow:visible; cursor:pointer; border:solid 1px #d2d2d2; line-height:30px; padding: 0 10px; font-weight:bold; text-shadow: 1px 1px #fff; border-radius:3px; -khtml-border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; margin:0; text-transform:uppercase; color:#000; text-decoration:none; }
a.button:hover, fieldset.buttons input:hover { color:#555; }
a.button:focus, fieldset.buttons input:focus { background-position:top left; border-bottom:solid 1px #f3f3f3; }
a.button { line-height:30px; display:block; height:30px; float:left; clear:both; }
div.buttons { overflow:hidden; }
a.button.add span { background:url("/images/icon_add.gif") center left no-repeat; padding-left:20px; }
h5.legend { font-size:1.2em; }
fieldset.buttons li.commit { margin-right: 1em; }

textarea { -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border-color:#A7A7A7 #E3E3E3 #E3E3E3 #A7A7A7; border-style:solid; border-width:1px; }

textarea:focus, input[type="text"]:focus, input[type="password"]:focus { -moz-box-shadow: 0 0 5px #FFF6BF; box-shadow: 0 0 5px #FFF6BF; -webkit-box-shadow: 0 0 5px #FFF6BF; }
li.error input[type="text"]:focus, li.error input[type="password"]:focus, li.error textarea:focus { -moz-box-shadow: 0 0 5px #FBE3E4; box-shadow: 0 0 5px #FBE3E4; -webkit-box-shadow: 0 0 5px #FBE3E4; }
input[type="text"], input[type="password"] { -moz-border-radius:3px; -webkit-border-radius:3px; border-radius: 3px; border-color:#A7A7A7 #E3E3E3 #E3E3E3 #A7A7A7; border-style:solid; border-width:1px; padding:3px 2px; width:300px; }
fieldset { -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }
form ol li.password, form ol li.date, form ol li.time, form ol li.select, form ol li.radio, form ol li.check_boxes, form ol li.string { width:350px; float: none; }
form ol li.datetime, form ol li.text { clear: both; width: 700px; }
form abbr { color:red; font-size:1.2em; margin-left:.2em; }
#user_remember_me_input { clear:both;}
.pagination { text-align: center; }
.pagination span.disabled { color: #888; }
.pagination em { background: #f0f0f0; padding: 0 5px; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; margin: 0 2px; border: solid 1px #ddd; }
#session_new { width: 400px; }


/*.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }*/