<h3>OpenMissouri News</h3>
<ul id="news_headlines">
	<% for item in @feed.items %>
		<li class="story">
			<h4><%= link_to item.title, item.link %></h4>
			<%= sanitize first_x_words(item.description,20,nil) %>
		</li>
	<% end %>
</ul>