<% title 'Listing government_levels' %>

<% unless @government_levels.blank? %>
  <%= table_for(@government_levels) %>
  <%= will_paginate(@government_levels) %>
<% else %>
  <p>Now it's time to create some data here. To create new entry, please use the button below.</p>
  <br /><br />
<% end %>

<br />

<p>
  <%= link_to 'New Government level', new_government_level_path, :class => 'button' %>
</p>

