<div id="navigation" class="clearfix">
  <div class="user_nav clearfix">
		<%= render_navigation(:context => :user) %> 
	</div>
  <div class="main_nav clearfix">
  	<%= render_navigation(:context => :main) %>
	</div>
</div>
